USE [OryzaTrack]
GO
/****** Object:  Table [dbo].[petani]    Script Date: 23/06/2026 18.08.23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[petani](
	[idPetani] [int] IDENTITY(1,1) NOT NULL,
	[namaPetani] [varchar](100) NOT NULL,
	[NIK] [char](16) NOT NULL,
	[alamat] [varchar](255) NOT NULL,
	[noTelepon] [varchar](15) NOT NULL,
	[statusAktif] [bit] NOT NULL,
 CONSTRAINT [PK_Petani] PRIMARY KEY CLUSTERED 
(
	[idPetani] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Petani]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Petani] AS
SELECT 
    idPetani,
    namaPetani,
    NIK,
    alamat,
    noTelepon,
    CASE WHEN statusAktif = 1 THEN 'Aktif' ELSE 'Tidak Aktif' END AS statusAktif
FROM petani;
GO
/****** Object:  Table [dbo].[Padi]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Padi](
	[idPadi] [int] IDENTITY(1,1) NOT NULL,
	[idPetani] [int] NOT NULL,
	[jenisBibit] [varchar](100) NOT NULL,
	[lokasiLahan] [varchar](100) NOT NULL,
	[tanggalTanam] [date] NOT NULL,
 CONSTRAINT [PK_Padi] PRIMARY KEY CLUSTERED 
(
	[idPadi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Padi]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- VIEW PADI
-- =====================
CREATE VIEW [dbo].[vw_Padi] AS
SELECT 
    p.idPadi,
    p.idPetani,
    pt.namaPetani,
    p.jenisBibit,
    p.lokasiLahan,
    CONVERT(VARCHAR, p.tanggalTanam, 103) AS tanggalTanam  -- format DD/MM/YYYY
FROM Padi p
JOIN petani pt ON p.idPetani = pt.idPetani;
GO
/****** Object:  Table [dbo].[Penyakit]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penyakit](
	[idPenyakit] [int] IDENTITY(1,1) NOT NULL,
	[Kategori] [varchar](50) NOT NULL,
	[gejalaPenyakit] [varchar](max) NOT NULL,
	[tingkatKerusakan] [varchar](50) NOT NULL,
	[tanggalSerangan] [date] NOT NULL,
 CONSTRAINT [PK_Penyakit] PRIMARY KEY CLUSTERED 
(
	[idPenyakit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Penyakit]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Penyakit] AS
SELECT 
    idPenyakit,
    Kategori,
    gejalaPenyakit,
    tingkatKerusakan,
    CONVERT(VARCHAR, tanggalSerangan, 103) AS tanggalSerangan  -- format DD/MM/YYYY
FROM Penyakit;
GO
/****** Object:  Table [dbo].[perawatanPadi]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perawatanPadi](
	[idPerawatan] [int] IDENTITY(1,1) NOT NULL,
	[jenisPerawatan] [varchar](100) NOT NULL,
	[jenisPestisida] [varchar](100) NOT NULL,
	[tanggalPerawatan] [date] NOT NULL,
	[hasilPerawatan] [varchar](100) NOT NULL,
	[idRiwayat] [int] NOT NULL,
 CONSTRAINT [PK_Perawatan] PRIMARY KEY CLUSTERED 
(
	[idPerawatan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[riwayatPenyakit]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[riwayatPenyakit](
	[idRiwayat] [int] IDENTITY(1,1) NOT NULL,
	[idPadi] [int] NOT NULL,
	[idPenyakit] [int] NOT NULL,
	[tanggalTerdeteksi] [date] NOT NULL,
	[tanggalSelesai] [date] NULL,
	[keterangan] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Riwayat] PRIMARY KEY CLUSTERED 
(
	[idRiwayat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PerawatanPadi]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- VIEW PERAWATAN PADI (UPDATED)
-- =====================
CREATE VIEW [dbo].[vw_PerawatanPadi] AS
SELECT 
    pp.idPerawatan,
    rp.idRiwayat,       -- Menggantikan idPadi & idPenyakit murni di tabel perawatan
    rp.idPadi,
    rp.idPenyakit,
    pt.namaPetani,
    p.jenisBibit,
    p.lokasiLahan,
    pn.Kategori         AS kategoriPenyakit,
    pp.jenisPerawatan,
    pp.jenisPestisida,
    CONVERT(VARCHAR, pp.tanggalPerawatan, 103) AS tanggalPerawatan,
    pp.hasilPerawatan
FROM perawatanPadi pp
JOIN RiwayatPenyakit rp ON pp.idRiwayat = rp.idRiwayat  -- Jalur berantai baru
JOIN Padi p            ON rp.idPadi     = p.idPadi
JOIN petani pt         ON p.idPetani    = pt.idPetani
JOIN Penyakit pn       ON rp.idPenyakit = pn.idPenyakit;
GO
/****** Object:  View [dbo].[vw_RiwayatPenyakit]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- VIEW RIWAYAT PENYAKIT
-- =====================
CREATE VIEW [dbo].[vw_RiwayatPenyakit] AS
SELECT 
    r.idRiwayat,
    r.idPadi,       -- wajib ada untuk CellClick SelectedValue
    r.idPenyakit,   -- wajib ada untuk CellClick SelectedValue
    pt.namaPetani,
    p.jenisBibit,
    p.lokasiLahan,
    pn.Kategori         AS kategoriPenyakit,
    pn.tingkatKerusakan,
    CONVERT(VARCHAR, r.tanggalTerdeteksi, 103) AS tanggalTerdeteksi,
    CASE 
        WHEN r.tanggalSelesai IS NULL THEN 'Belum Selesai'
        ELSE CONVERT(VARCHAR, r.tanggalSelesai, 103)
    END AS tanggalSelesai,
    r.keterangan
FROM riwayatPenyakit r
JOIN Padi p         ON r.idPadi     = p.idPadi
JOIN petani pt      ON p.idPetani   = pt.idPetani
JOIN Penyakit pn    ON r.idPenyakit = pn.idPenyakit;
GO
/****** Object:  View [dbo].[vw_Laporan]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Laporan] AS
SELECT 
    r.idRiwayat,
    pt.namaPetani,
    p.jenisBibit,
    p.lokasiLahan,
    pn.Kategori             AS kategoriPenyakit,
    pn.tingkatKerusakan,
    r.tanggalTerdeteksi,    -- tetap DATE, bukan dikonversi string
    CASE 
        WHEN r.tanggalSelesai IS NULL THEN 'Belum Selesai'
        ELSE CONVERT(VARCHAR, r.tanggalSelesai, 103)
    END AS tanggalSelesai,
    r.keterangan,
    pp.jenisPerawatan,
    pp.jenisPestisida,
    pp.hasilPerawatan
FROM riwayatPenyakit r
JOIN Padi p         ON r.idPadi     = p.idPadi
JOIN petani pt      ON p.idPetani   = pt.idPetani
JOIN Penyakit pn    ON r.idPenyakit = pn.idPenyakit
LEFT JOIN perawatanPadi pp 
    ON pp.idPadi = r.idPadi AND pp.idPenyakit = r.idPenyakit;
GO
/****** Object:  View [dbo].[v_ListStatus]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListStatus] AS
SELECT DISTINCT statusAktif FROM petani
GO
/****** Object:  View [dbo].[v_ListBibit]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListBibit] AS
SELECT DISTINCT jenisBibit FROM padi
GO
/****** Object:  View [dbo].[v_ListPetaniCombo]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListPetaniCombo] AS
SELECT idPetani, namaPetani FROM petani
GO
/****** Object:  View [dbo].[v_ListLahan]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListLahan] AS
SELECT DISTINCT lokasiLahan FROM padi
GO
/****** Object:  View [dbo].[v_ListKategori]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListKategori] AS
SELECT DISTINCT Kategori FROM penyakit
GO
/****** Object:  View [dbo].[v_ListTingkatKerusakan]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListTingkatKerusakan] AS
SELECT DISTINCT tingkatKerusakan FROM penyakit
GO
/****** Object:  View [dbo].[v_ListPestisida]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListPestisida] AS
SELECT DISTINCT jenisPestisida FROM perawatanPadi
GO
/****** Object:  View [dbo].[v_ListHasil]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ListHasil] AS
SELECT DISTINCT hasilPerawatan FROM perawatanPadi
GO
/****** Object:  View [dbo].[vw_StatistikPenyakit]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- buat view getStatistik
CREATE VIEW [dbo].[vw_StatistikPenyakit] AS
SELECT kategoriPenyakit AS kategori, COUNT(idRiwayat) AS Total
FROM vw_RiwayatPenyakit
GROUP BY kategoriPenyakit
GO
/****** Object:  View [dbo].[vw_PetaniAktif]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PetaniAktif] AS
SELECT idPetani, namaPetani, NIK, alamat, noTelepon, statusAktif
FROM petani
WHERE statusAktif = 1
GO
/****** Object:  Table [dbo].[admin]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[namaAdmin] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[passwordAdmin] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogAktivitas]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogAktivitas](
	[idLog] [int] IDENTITY(1,1) NOT NULL,
	[aktivitas] [varchar](200) NOT NULL,
	[tabel] [varchar](50) NOT NULL,
	[waktu] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogKeamanan]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogKeamanan](
	[idLog] [int] IDENTITY(1,1) NOT NULL,
	[aktivitas] [varchar](200) NULL,
	[jumlah_data] [int] NULL,
	[waktu] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[padi_backup]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[padi_backup](
	[idPadi] [int] IDENTITY(1,1) NOT NULL,
	[idPetani] [int] NOT NULL,
	[jenisBibit] [varchar](100) NOT NULL,
	[lokasiLahan] [varchar](100) NOT NULL,
	[tanggalTanam] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perawatan_backup]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perawatan_backup](
	[idPerawatan] [int] IDENTITY(1,1) NOT NULL,
	[jenisPerawatan] [varchar](100) NOT NULL,
	[jenisPestisida] [varchar](100) NOT NULL,
	[tanggalPerawatan] [date] NOT NULL,
	[hasilPerawatan] [varchar](100) NOT NULL,
	[idRiwayat] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[petani_backup]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[petani_backup](
	[idPetani] [int] IDENTITY(1,1) NOT NULL,
	[namaPetani] [varchar](100) NOT NULL,
	[NIK] [char](16) NOT NULL,
	[alamat] [varchar](255) NOT NULL,
	[noTelepon] [varchar](15) NOT NULL,
	[statusAktif] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[riwayat_backup]    Script Date: 23/06/2026 18.08.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[riwayat_backup](
	[idRiwayat] [int] IDENTITY(1,1) NOT NULL,
	[idPadi] [int] NOT NULL,
	[idPenyakit] [int] NOT NULL,
	[tanggalTerdeteksi] [date] NOT NULL,
	[tanggalSelesai] [date] NULL,
	[keterangan] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([idAdmin], [namaAdmin], [username], [passwordAdmin], [email]) VALUES (1, N'SuperAdmin', N'admin', N'admin123', N'admin@gmail.com')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[LogAktivitas] ON 

INSERT [dbo].[LogAktivitas] ([idLog], [aktivitas], [tabel], [waktu]) VALUES (1, N'Hapus petani: Banu', N'petani', CAST(N'2026-06-23T06:45:29.220' AS DateTime))
INSERT [dbo].[LogAktivitas] ([idLog], [aktivitas], [tabel], [waktu]) VALUES (2, N'Hapus petani: Herman', N'petani', CAST(N'2026-06-23T06:45:29.220' AS DateTime))
INSERT [dbo].[LogAktivitas] ([idLog], [aktivitas], [tabel], [waktu]) VALUES (3, N'Hapus petani: Slamet Riyadi', N'petani', CAST(N'2026-06-23T06:45:29.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[LogAktivitas] OFF
GO
SET IDENTITY_INSERT [dbo].[Padi] ON 

INSERT [dbo].[Padi] ([idPadi], [idPetani], [jenisBibit], [lokasiLahan], [tanggalTanam]) VALUES (14, 1, N'IR64', N'Lahan Utara', CAST(N'2026-06-02' AS Date))
INSERT [dbo].[Padi] ([idPadi], [idPetani], [jenisBibit], [lokasiLahan], [tanggalTanam]) VALUES (15, 2, N'Inpari 32', N'Lahan Barat', CAST(N'2026-05-31' AS Date))
INSERT [dbo].[Padi] ([idPadi], [idPetani], [jenisBibit], [lokasiLahan], [tanggalTanam]) VALUES (16, 2, N'Inpari 32', N'Lahan Barat', CAST(N'2026-06-23' AS Date))
SET IDENTITY_INSERT [dbo].[Padi] OFF
GO
SET IDENTITY_INSERT [dbo].[padi_backup] ON 

INSERT [dbo].[padi_backup] ([idPadi], [idPetani], [jenisBibit], [lokasiLahan], [tanggalTanam]) VALUES (14, 1, N'IR64', N'Lahan Utara', CAST(N'2026-06-02' AS Date))
INSERT [dbo].[padi_backup] ([idPadi], [idPetani], [jenisBibit], [lokasiLahan], [tanggalTanam]) VALUES (15, 2, N'Ciherang', N'Lahan Selatan', CAST(N'2026-06-02' AS Date))
INSERT [dbo].[padi_backup] ([idPadi], [idPetani], [jenisBibit], [lokasiLahan], [tanggalTanam]) VALUES (16, 2, N'Inpari 32', N'Lahan Barat', CAST(N'2026-06-23' AS Date))
SET IDENTITY_INSERT [dbo].[padi_backup] OFF
GO
SET IDENTITY_INSERT [dbo].[Penyakit] ON 

INSERT [dbo].[Penyakit] ([idPenyakit], [Kategori], [gejalaPenyakit], [tingkatKerusakan], [tanggalSerangan]) VALUES (1, N'Hama', N'Batang padi terlihat berlubang dan layu', N'Berat', CAST(N'2026-02-15' AS Date))
INSERT [dbo].[Penyakit] ([idPenyakit], [Kategori], [gejalaPenyakit], [tingkatKerusakan], [tanggalSerangan]) VALUES (2, N'Hama', N'Daun menguning dan terdapat bercak coklat kemerahan', N'Sedang', CAST(N'2026-03-20' AS Date))
INSERT [dbo].[Penyakit] ([idPenyakit], [Kategori], [gejalaPenyakit], [tingkatKerusakan], [tanggalSerangan]) VALUES (3, N'Hama', N'Tanaman terlihat kerdil dan banyak serangga wereng', N'Berat', CAST(N'2026-04-01' AS Date))
SET IDENTITY_INSERT [dbo].[Penyakit] OFF
GO
SET IDENTITY_INSERT [dbo].[perawatan_backup] ON 

INSERT [dbo].[perawatan_backup] ([idPerawatan], [jenisPerawatan], [jenisPestisida], [tanggalPerawatan], [hasilPerawatan], [idRiwayat]) VALUES (8, N'Pemberian Jebakan', N'Tanpa Pestisida', CAST(N'2026-06-23' AS Date), N'Berhasil', 12)
INSERT [dbo].[perawatan_backup] ([idPerawatan], [jenisPerawatan], [jenisPestisida], [tanggalPerawatan], [hasilPerawatan], [idRiwayat]) VALUES (9, N'Penyemprotan', N'Insektisida Furadan', CAST(N'2026-06-09' AS Date), N'Sebagian Berhasil', 12)
INSERT [dbo].[perawatan_backup] ([idPerawatan], [jenisPerawatan], [jenisPestisida], [tanggalPerawatan], [hasilPerawatan], [idRiwayat]) VALUES (10, N'Pemberian pestisida', N'Herbisida Glyphosate', CAST(N'2026-06-23' AS Date), N'Sebagian Berhasil', 13)
SET IDENTITY_INSERT [dbo].[perawatan_backup] OFF
GO
SET IDENTITY_INSERT [dbo].[perawatanPadi] ON 

INSERT [dbo].[perawatanPadi] ([idPerawatan], [jenisPerawatan], [jenisPestisida], [tanggalPerawatan], [hasilPerawatan], [idRiwayat]) VALUES (8, N'Pemberian Jebakan', N'Tanpa Pestisida', CAST(N'2026-06-23' AS Date), N'Berhasil', 12)
INSERT [dbo].[perawatanPadi] ([idPerawatan], [jenisPerawatan], [jenisPestisida], [tanggalPerawatan], [hasilPerawatan], [idRiwayat]) VALUES (9, N'Penyemprotan', N'Insektisida Furadan', CAST(N'2026-06-09' AS Date), N'Sebagian Berhasil', 12)
INSERT [dbo].[perawatanPadi] ([idPerawatan], [jenisPerawatan], [jenisPestisida], [tanggalPerawatan], [hasilPerawatan], [idRiwayat]) VALUES (10, N'Pemberian pestisida', N'Herbisida Glyphosate', CAST(N'2026-06-23' AS Date), N'Sebagian Berhasil', 13)
SET IDENTITY_INSERT [dbo].[perawatanPadi] OFF
GO
SET IDENTITY_INSERT [dbo].[petani] ON 

INSERT [dbo].[petani] ([idPetani], [namaPetani], [NIK], [alamat], [noTelepon], [statusAktif]) VALUES (1, N'Andi', N'1234567890123456', N'Jl. Sawah Hijau No. 5, Sleman', N'081299887766', 1)
INSERT [dbo].[petani] ([idPetani], [namaPetani], [NIK], [alamat], [noTelepon], [statusAktif]) VALUES (2, N'Bambang Sugeng', N'3401122334455667', N'Jl. Merdeka No. 12, Bantul', N'085711223344', 1)
INSERT [dbo].[petani] ([idPetani], [namaPetani], [NIK], [alamat], [noTelepon], [statusAktif]) VALUES (3, N'Slamet Riyadi', N'3402233445566778', N'Dusun Tani Makmur No. 8, Klaten', N'08133445566', 1)
SET IDENTITY_INSERT [dbo].[petani] OFF
GO
SET IDENTITY_INSERT [dbo].[petani_backup] ON 

INSERT [dbo].[petani_backup] ([idPetani], [namaPetani], [NIK], [alamat], [noTelepon], [statusAktif]) VALUES (1, N'Andi', N'1234567890123456', N'Jl. Sawah Hijau No. 5, Sleman', N'081299887766', 1)
INSERT [dbo].[petani_backup] ([idPetani], [namaPetani], [NIK], [alamat], [noTelepon], [statusAktif]) VALUES (2, N'Bambang Sugeng', N'3401122334455667', N'Jl. Merdeka No. 12, Bantul', N'085711223344', 1)
INSERT [dbo].[petani_backup] ([idPetani], [namaPetani], [NIK], [alamat], [noTelepon], [statusAktif]) VALUES (3, N'Slamet Riyadi', N'3402233445566778', N'Dusun Tani Makmur No. 8, Klaten', N'08133445566', 1)
SET IDENTITY_INSERT [dbo].[petani_backup] OFF
GO
SET IDENTITY_INSERT [dbo].[riwayat_backup] ON 

INSERT [dbo].[riwayat_backup] ([idRiwayat], [idPadi], [idPenyakit], [tanggalTerdeteksi], [tanggalSelesai], [keterangan]) VALUES (11, 14, 1, CAST(N'2026-06-23' AS Date), NULL, N'Baru terkena')
INSERT [dbo].[riwayat_backup] ([idRiwayat], [idPadi], [idPenyakit], [tanggalTerdeteksi], [tanggalSelesai], [keterangan]) VALUES (12, 14, 2, CAST(N'2026-06-23' AS Date), NULL, N'Terkena 2 hari kemarin')
INSERT [dbo].[riwayat_backup] ([idRiwayat], [idPadi], [idPenyakit], [tanggalTerdeteksi], [tanggalSelesai], [keterangan]) VALUES (13, 16, 4, CAST(N'2026-06-23' AS Date), NULL, N'Imbas kemarau')
SET IDENTITY_INSERT [dbo].[riwayat_backup] OFF
GO
SET IDENTITY_INSERT [dbo].[riwayatPenyakit] ON 

INSERT [dbo].[riwayatPenyakit] ([idRiwayat], [idPadi], [idPenyakit], [tanggalTerdeteksi], [tanggalSelesai], [keterangan]) VALUES (11, 14, 1, CAST(N'2026-06-23' AS Date), NULL, N'Baru terkena')
INSERT [dbo].[riwayatPenyakit] ([idRiwayat], [idPadi], [idPenyakit], [tanggalTerdeteksi], [tanggalSelesai], [keterangan]) VALUES (12, 14, 2, CAST(N'2026-06-23' AS Date), NULL, N'Terkena 2 hari kemarin')
INSERT [dbo].[riwayatPenyakit] ([idRiwayat], [idPadi], [idPenyakit], [tanggalTerdeteksi], [tanggalSelesai], [keterangan]) VALUES (13, 16, 4, CAST(N'2026-06-23' AS Date), NULL, N'Imbas kemarau')
SET IDENTITY_INSERT [dbo].[riwayatPenyakit] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Admin_Email]    Script Date: 23/06/2026 18.08.25 ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UQ_Admin_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Admin_Username]    Script Date: 23/06/2026 18.08.25 ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UQ_Admin_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Petani_NIK]    Script Date: 23/06/2026 18.08.25 ******/
ALTER TABLE [dbo].[petani] ADD  CONSTRAINT [UQ_Petani_NIK] UNIQUE NONCLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogAktivitas] ADD  DEFAULT (getdate()) FOR [waktu]
GO
ALTER TABLE [dbo].[LogKeamanan] ADD  DEFAULT (getdate()) FOR [waktu]
GO
ALTER TABLE [dbo].[petani] ADD  DEFAULT ((1)) FOR [statusAktif]
GO
ALTER TABLE [dbo].[Padi]  WITH NOCHECK ADD  CONSTRAINT [FK_Padi_Petani] FOREIGN KEY([idPetani])
REFERENCES [dbo].[petani] ([idPetani])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Padi] NOCHECK CONSTRAINT [FK_Padi_Petani]
GO
ALTER TABLE [dbo].[perawatanPadi]  WITH NOCHECK ADD  CONSTRAINT [FK_Perawatan_RiwayatPenyakit] FOREIGN KEY([idRiwayat])
REFERENCES [dbo].[riwayatPenyakit] ([idRiwayat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[perawatanPadi] NOCHECK CONSTRAINT [FK_Perawatan_RiwayatPenyakit]
GO
ALTER TABLE [dbo].[riwayatPenyakit]  WITH NOCHECK ADD  CONSTRAINT [FK_Riwayat_Padi] FOREIGN KEY([idPadi])
REFERENCES [dbo].[Padi] ([idPadi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[riwayatPenyakit] NOCHECK CONSTRAINT [FK_Riwayat_Padi]
GO
ALTER TABLE [dbo].[riwayatPenyakit]  WITH NOCHECK ADD  CONSTRAINT [FK_Riwayat_Penyakit] FOREIGN KEY([idPenyakit])
REFERENCES [dbo].[Penyakit] ([idPenyakit])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[riwayatPenyakit] NOCHECK CONSTRAINT [FK_Riwayat_Penyakit]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [Cek_Admin_Email] CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [Cek_Admin_Email]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [Cek_Admin_Password] CHECK  ((len([passwordAdmin])>=(6)))
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [Cek_Admin_Password]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [Cek_Admin_Username] CHECK  ((len([username])>=(5)))
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [Cek_Admin_Username]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [CK_Admin_Nama] CHECK  ((NOT [namaAdmin] like '%[^a-zA-Z ]%' AND len([namaAdmin])>=(2)))
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [CK_Admin_Nama]
GO
ALTER TABLE [dbo].[Padi]  WITH NOCHECK ADD  CONSTRAINT [CK_Padi_LokasiLahan] CHECK  ((len([lokasiLahan])>=(5)))
GO
ALTER TABLE [dbo].[Padi] NOCHECK CONSTRAINT [CK_Padi_LokasiLahan]
GO
ALTER TABLE [dbo].[Padi]  WITH NOCHECK ADD  CONSTRAINT [CK_Padi_TanggalTanam] CHECK  (([tanggalTanam]>='2000-01-01' AND [tanggalTanam]<=getdate()))
GO
ALTER TABLE [dbo].[Padi] NOCHECK CONSTRAINT [CK_Padi_TanggalTanam]
GO
ALTER TABLE [dbo].[Penyakit]  WITH CHECK ADD  CONSTRAINT [CK_Penyakit_Gejala] CHECK  ((len([gejalaPenyakit])>=(10)))
GO
ALTER TABLE [dbo].[Penyakit] CHECK CONSTRAINT [CK_Penyakit_Gejala]
GO
ALTER TABLE [dbo].[Penyakit]  WITH CHECK ADD  CONSTRAINT [CK_Penyakit_Kategori] CHECK  (([Kategori]='Penyakit' OR [Kategori]='Hama'))
GO
ALTER TABLE [dbo].[Penyakit] CHECK CONSTRAINT [CK_Penyakit_Kategori]
GO
ALTER TABLE [dbo].[Penyakit]  WITH CHECK ADD  CONSTRAINT [CK_Penyakit_TanggalSerangan] CHECK  (([tanggalSerangan]>='2000-01-01' AND [tanggalSerangan]<=getdate()))
GO
ALTER TABLE [dbo].[Penyakit] CHECK CONSTRAINT [CK_Penyakit_TanggalSerangan]
GO
ALTER TABLE [dbo].[Penyakit]  WITH CHECK ADD  CONSTRAINT [CK_Penyakit_TingkatKerusakan] CHECK  (([tingkatKerusakan]='Berat' OR [tingkatKerusakan]='Sedang' OR [tingkatKerusakan]='Ringan'))
GO
ALTER TABLE [dbo].[Penyakit] CHECK CONSTRAINT [CK_Penyakit_TingkatKerusakan]
GO
ALTER TABLE [dbo].[perawatanPadi]  WITH NOCHECK ADD  CONSTRAINT [CK_Perawatan_HasilPerawatan] CHECK  (([hasilPerawatan]='Gagal' OR [hasilPerawatan]='Sebagian Berhasil' OR [hasilPerawatan]='Berhasil'))
GO
ALTER TABLE [dbo].[perawatanPadi] NOCHECK CONSTRAINT [CK_Perawatan_HasilPerawatan]
GO
ALTER TABLE [dbo].[perawatanPadi]  WITH NOCHECK ADD  CONSTRAINT [CK_Perawatan_JenisPestisida] CHECK  (([jenisPestisida]='Tanpa Pestisida' OR [jenisPestisida]='Herbisida Glyphosate' OR [jenisPestisida]='Fungisida Dithane' OR [jenisPestisida]='Insektisida Furadan'))
GO
ALTER TABLE [dbo].[perawatanPadi] NOCHECK CONSTRAINT [CK_Perawatan_JenisPestisida]
GO
ALTER TABLE [dbo].[perawatanPadi]  WITH NOCHECK ADD  CONSTRAINT [CK_Perawatan_TanggalPerawatan] CHECK  (([tanggalPerawatan]>='2000-01-01' AND [tanggalPerawatan]<=getdate()))
GO
ALTER TABLE [dbo].[perawatanPadi] NOCHECK CONSTRAINT [CK_Perawatan_TanggalPerawatan]
GO
ALTER TABLE [dbo].[petani]  WITH NOCHECK ADD  CONSTRAINT [CK_Petani_Alamat] CHECK  ((len([alamat])>=(10)))
GO
ALTER TABLE [dbo].[petani] NOCHECK CONSTRAINT [CK_Petani_Alamat]
GO
ALTER TABLE [dbo].[petani]  WITH NOCHECK ADD  CONSTRAINT [CK_Petani_Nama] CHECK  ((NOT [namaPetani] like '%[^a-zA-Z ]%' AND len([namaPetani])>=(2)))
GO
ALTER TABLE [dbo].[petani] NOCHECK CONSTRAINT [CK_Petani_Nama]
GO
ALTER TABLE [dbo].[petani]  WITH NOCHECK ADD  CONSTRAINT [CK_Petani_NIK] CHECK  ((len([NIK])=(16) AND NOT [NIK] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[petani] NOCHECK CONSTRAINT [CK_Petani_NIK]
GO
ALTER TABLE [dbo].[petani]  WITH NOCHECK ADD  CONSTRAINT [CK_Petani_NoTelepon] CHECK  ((len([noTelepon])>=(10) AND len([noTelepon])<=(15) AND NOT [noTelepon] like '%+%+%' AND NOT [noTelepon] like '%[^0-9+]%' AND ([noTelepon] like '08%' OR [noTelepon] like '+62%')))
GO
ALTER TABLE [dbo].[petani] NOCHECK CONSTRAINT [CK_Petani_NoTelepon]
GO
ALTER TABLE [dbo].[riwayatPenyakit]  WITH NOCHECK ADD  CONSTRAINT [CK_Riwayat_TanggalSelesai] CHECK  (([tanggalSelesai] IS NULL OR [tanggalSelesai]>='2000-01-01' AND [tanggalSelesai]<=getdate()))
GO
ALTER TABLE [dbo].[riwayatPenyakit] NOCHECK CONSTRAINT [CK_Riwayat_TanggalSelesai]
GO
ALTER TABLE [dbo].[riwayatPenyakit]  WITH NOCHECK ADD  CONSTRAINT [CK_Riwayat_TanggalTerdeteksi] CHECK  (([tanggalTerdeteksi]>='2000-01-01' AND [tanggalTerdeteksi]<=getdate()))
GO
ALTER TABLE [dbo].[riwayatPenyakit] NOCHECK CONSTRAINT [CK_Riwayat_TanggalTerdeteksi]
GO
ALTER TABLE [dbo].[riwayatPenyakit]  WITH NOCHECK ADD  CONSTRAINT [CK_Riwayat_UrutanTanggal] CHECK  (([tanggalSelesai] IS NULL OR [tanggalSelesai]>=[tanggalTerdeteksi]))
GO
ALTER TABLE [dbo].[riwayatPenyakit] NOCHECK CONSTRAINT [CK_Riwayat_UrutanTanggal]
GO
/****** Object:  StoredProcedure [dbo].[sp_CountPadi]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--padi
CREATE PROCEDURE [dbo].[sp_CountPadi]        
    @totalData INT OUTPUT 
AS 
BEGIN 
    SELECT @totalData = COUNT(*) FROM Padi; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CountPenyakit]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--penyakit
CREATE PROCEDURE [dbo].[sp_CountPenyakit]
    @totalData INT OUTPUT 
AS 
BEGIN 
    SELECT @totalData = COUNT(*) FROM Penyakit; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CountPerawatan]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--perawatan
CREATE PROCEDURE [dbo].[sp_CountPerawatan]
    @totalData INT OUTPUT 
AS 
BEGIN 
    SELECT @totalData = COUNT(*) FROM perawatanPadi; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CountPetani]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP COUNT dengan OUTPUT Parameter
--petani
CREATE PROCEDURE [dbo].[sp_CountPetani]
    @totalData INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @totalData = COUNT(*) FROM petani;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CountRiwayat]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--riwayat
CREATE PROCEDURE [dbo].[sp_CountRiwayat] 
    @totalData INT OUTPUT 
AS 
BEGIN 
    SELECT @totalData = COUNT(*) FROM riwayatPenyakit; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePadi]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP DELETE PADI
-- =====================
CREATE PROCEDURE [dbo].[sp_DeletePadi]
    @idPadi   INT,
    @pesanHasil VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika: Cek apakah padi masih punya riwayat/perawatan
    IF EXISTS (SELECT 1 FROM riwayatPenyakit WHERE idPadi = @idPadi)
       OR EXISTS (SELECT 1 FROM perawatanPadi WHERE idPadi = @idPadi)
    BEGIN
        SET @pesanHasil = 'Data padi masih memiliki riwayat/perawatan, tidak bisa dihapus!';
        RETURN;
    END

    DELETE FROM Padi WHERE idPadi = @idPadi;
    SET @pesanHasil = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePenyakit]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP DELETE PENYAKIT
-- =====================
CREATE PROCEDURE [dbo].[sp_DeletePenyakit]
    @idPenyakit INT,
    @hasilMsg   VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika: Cek apakah penyakit masih dipakai di riwayat atau perawatan
    IF EXISTS (SELECT 1 FROM riwayatPenyakit WHERE idPenyakit = @idPenyakit)
    BEGIN
        SET @hasilMsg = 'Penyakit masih terdaftar di Riwayat Penyakit, tidak bisa dihapus!';
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM perawatanPadi WHERE idPenyakit = @idPenyakit)
    BEGIN
        SET @hasilMsg = 'Penyakit masih terdaftar di Perawatan Padi, tidak bisa dihapus!';
        RETURN;
    END

    DELETE FROM Penyakit WHERE idPenyakit = @idPenyakit;
    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePerawatan]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP DELETE PERAWATAN
-- =====================
CREATE PROCEDURE [dbo].[sp_DeletePerawatan]
    @idPerawatan INT,
    @hasilMsg    VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika: Tidak boleh hapus jika hasil perawatan = 'Berhasil'
    --         karena bisa jadi referensi laporan penting
    DECLARE @hasil VARCHAR(100);
    SELECT @hasil = hasilPerawatan 
    FROM perawatanPadi 
    WHERE idPerawatan = @idPerawatan;

    IF @hasil IS NULL
    BEGIN
        SET @hasilMsg = 'Data perawatan tidak ditemukan!';
        RETURN;
    END

    IF @hasil = 'Berhasil'
    BEGIN
        SET @hasilMsg = 'Perawatan yang sudah Berhasil tidak dapat dihapus karena menjadi referensi laporan!';
        RETURN;
    END

    DELETE FROM perawatanPadi WHERE idPerawatan = @idPerawatan;
    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePetani]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePetani]
    @idPetani INT,
    @pesanHasil VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika: Cek apakah petani masih punya data Padi aktif
    IF EXISTS (SELECT 1 FROM Padi WHERE idPetani = @idPetani)
    BEGIN
        SET @pesanHasil = 'Petani masih memiliki data padi, tidak bisa dihapus!';
        RETURN;
    END

    DELETE FROM petani WHERE idPetani = @idPetani;
    SET @pesanHasil = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRiwayat]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP DELETE RIWAYAT
-- =====================
CREATE PROCEDURE [dbo].[sp_DeleteRiwayat]
    @idRiwayat INT,
    @hasilMsg  VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika: Riwayat yang masih aktif (belum selesai) tidak boleh dihapus
    DECLARE @tglSelesai DATE;
    SELECT @tglSelesai = tanggalSelesai 
    FROM riwayatPenyakit WHERE idRiwayat = @idRiwayat;

    IF @tglSelesai IS NULL
    BEGIN
        SET @hasilMsg = 'Riwayat penyakit yang masih aktif tidak bisa dihapus! Isi tanggal selesai terlebih dahulu.';
        RETURN;
    END

    DELETE FROM riwayatPenyakit WHERE idRiwayat = @idRiwayat;
    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLaporan]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLaporan]
    @tanggalAwal  DATE,
    @tanggalAkhir DATE,
    @jenisBibit   NVARCHAR(50) = NULL,
    @kategori     NVARCHAR(50) = NULL
AS
BEGIN
    SELECT 
        pt.namaPetani,
        p.jenisBibit,
        p.lokasiLahan,
        pn.Kategori         AS kategoriPenyakit,
        pn.tingkatKerusakan,
        r.tanggalTerdeteksi,
        CASE 
            WHEN r.tanggalSelesai IS NULL THEN 'Belum Selesai'
            ELSE CONVERT(VARCHAR, r.tanggalSelesai, 103)
        END AS tanggalSelesai,
        r.keterangan,
        pp.jenisPerawatan,
        pp.jenisPestisida,
        pp.hasilPerawatan
    FROM riwayatPenyakit r
    JOIN Padi p         ON r.idPadi     = p.idPadi
    JOIN petani pt      ON p.idPetani   = pt.idPetani
    JOIN Penyakit pn    ON r.idPenyakit = pn.idPenyakit
    LEFT JOIN perawatanPadi pp ON pp.idRiwayat = r.idRiwayat
    WHERE r.tanggalTerdeteksi BETWEEN @tanggalAwal AND @tanggalAkhir
      AND (@jenisBibit IS NULL OR p.jenisBibit = @jenisBibit)
      AND (@kategori   IS NULL OR pn.Kategori  = @kategori)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPadi]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP INSERT PADI
-- =====================
CREATE PROCEDURE [dbo].[sp_InsertPadi]
    @idPetani     INT,
    @jenisBibit   VARCHAR(100),
    @lokasiLahan  VARCHAR(100),
    @tanggalTanam DATE,
    @pesanHasil     VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek apakah petani ada dan aktif
    IF NOT EXISTS (SELECT 1 FROM petani WHERE idPetani = @idPetani AND statusAktif = 1)
    BEGIN
        SET @pesanHasil = 'Petani tidak ditemukan atau tidak aktif!';
        RETURN;
    END

    -- Logika 2: Cek duplikasi lahan + petani yang sama di tanggal sama
    IF EXISTS (
        SELECT 1 FROM Padi 
        WHERE idPetani = @idPetani 
          AND lokasiLahan = @lokasiLahan 
          AND tanggalTanam = @tanggalTanam
    )
    BEGIN
        SET @pesanHasil = 'Petani sudah menanam di lahan ini pada tanggal yang sama!';
        RETURN;
    END

    INSERT INTO Padi (idPetani, jenisBibit, lokasiLahan, tanggalTanam)
    VALUES (@idPetani, @jenisBibit, @lokasiLahan, @tanggalTanam);

    SET @pesanHasil = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPenyakit]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP INSERT PENYAKIT
-- =====================
CREATE PROCEDURE [dbo].[sp_InsertPenyakit]
    @kategori        VARCHAR(50),
    @gejalaPenyakit  VARCHAR(MAX),
    @tingkatKerusakan VARCHAR(50),
    @tanggalSerangan DATE,
    @hasilMsg        VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek duplikasi gejala + kategori yang sama di tanggal sama
    IF EXISTS (
        SELECT 1 FROM Penyakit
        WHERE Kategori        = @kategori
          AND gejalaPenyakit  = @gejalaPenyakit
          AND tanggalSerangan = @tanggalSerangan
    )
    BEGIN
        SET @hasilMsg = 'Data penyakit dengan gejala dan tanggal serangan yang sama sudah ada!';
        RETURN;
    END

    -- Logika 2: Tanggal tidak boleh masa depan (double-check di DB)
    IF @tanggalSerangan > CAST(GETDATE() AS DATE)
    BEGIN
        SET @hasilMsg = 'Tanggal serangan tidak boleh di masa depan!';
        RETURN;
    END

    INSERT INTO Penyakit (Kategori, gejalaPenyakit, tingkatKerusakan, tanggalSerangan)
    VALUES (@kategori, @gejalaPenyakit, @tingkatKerusakan, @tanggalSerangan);

    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPerawatan]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- SP INSERT PERAWATAN (UPDATED)
-- =====================
CREATE PROCEDURE [dbo].[sp_InsertPerawatan]
    @idRiwayat        INT, -- Menggantikan idPadi & idPenyakit
    @jenisPerawatan   VARCHAR(100),
    @jenisPestisida   VARCHAR(100),
    @tanggalPerawatan DATE,
    @hasilPerawatan   VARCHAR(100),
    @hasilMsg         VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek kasus riwayat penyakit ada
    IF NOT EXISTS (SELECT 1 FROM RiwayatPenyakit WHERE idRiwayat = @idRiwayat)
    BEGIN
        SET @hasilMsg = 'Data kasus riwayat penyakit tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek apakah kasus ini sudah pernah dirawat di tanggal yang sama
    IF EXISTS (
        SELECT 1 FROM perawatanPadi
        WHERE idRiwayat        = @idRiwayat
          AND tanggalPerawatan = @tanggalPerawatan
    )
    BEGIN
        SET @hasilMsg = 'Perawatan untuk kasus penyakit ini pada tanggal tersebut sudah dicatat!';
        RETURN;
    END

    -- Logika 3: Validasi konsistensi pestisida dengan kategori penyakit (Dilacak lewat idRiwayat)
    DECLARE @kategori VARCHAR(50);
    SELECT @kategori = pn.Kategori 
    FROM RiwayatPenyakit rp
    JOIN Penyakit pn ON rp.idPenyakit = pn.idPenyakit
    WHERE rp.idRiwayat = @idRiwayat;

    IF @kategori = 'Hama' AND @jenisPestisida = 'Fungisida Dithane'
    BEGIN
        SET @hasilMsg = 'Fungisida Dithane tidak cocok untuk kategori Hama!';
        RETURN;
    END

    IF @kategori = 'Penyakit' AND @jenisPestisida = 'Insektisida Furadan'
    BEGIN
        SET @hasilMsg = 'Insektisida Furadan tidak cocok untuk kategori Penyakit (jamur/bakteri)!';
        RETURN;
    END

    -- Insert ke tabel baru yang sudah memuat idRiwayat
    INSERT INTO perawatanPadi 
        (idRiwayat, jenisPerawatan, jenisPestisida, tanggalPerawatan, hasilPerawatan)
    VALUES 
        (@idRiwayat, @jenisPerawatan, @jenisPestisida, @tanggalPerawatan, @hasilPerawatan);

    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPetani]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertPetani]
    @namaPetani  VARCHAR(100),
    @NIK         CHAR(16),
    @alamat      VARCHAR(255),
    @noTelepon   VARCHAR(15),
    @pesanHasil    VARCHAR(200) OUTPUT  -- output pesan hasil
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek NIK duplikat (bukan sekadar INSERT biasa)
    IF EXISTS (SELECT 1 FROM petani WHERE NIK = @NIK)
    BEGIN
        SET @pesanHasil = 'NIK sudah terdaftar di sistem!';
        RETURN;
    END

    -- Logika 2: Cek NoTelepon duplikat
    IF EXISTS (SELECT 1 FROM petani WHERE noTelepon = @noTelepon)
    BEGIN
        SET @pesanHasil = 'Nomor telepon sudah digunakan petani lain!';
        RETURN;
    END

    -- Baru INSERT kalau lolos validasi
    INSERT INTO petani (namaPetani, NIK, alamat, noTelepon)
    VALUES (@namaPetani, @NIK, @alamat, @noTelepon);

    SET @pesanHasil = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRiwayat]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- SP INSERT RIWAYAT
-- =====================
CREATE PROCEDURE [dbo].[sp_InsertRiwayat]
    @idPadi             INT,
    @idPenyakit         INT,
    @tanggalTerdeteksi  DATE,
    @tanggalSelesai     DATE = NULL,
    @keterangan         VARCHAR(255),
    @hasilMsg           VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek padi ada
    IF NOT EXISTS (SELECT 1 FROM Padi WHERE idPadi = @idPadi)
    BEGIN
        SET @hasilMsg = 'Data padi tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek penyakit ada
    IF NOT EXISTS (SELECT 1 FROM Penyakit WHERE idPenyakit = @idPenyakit)
    BEGIN
        SET @hasilMsg = 'Data penyakit tidak ditemukan!';
        RETURN;
    END

    -- Logika 3: Cek apakah padi + penyakit yang sama sudah ada riwayat aktif
    --           (tanggalSelesai masih NULL = belum selesai)
    IF EXISTS (
        SELECT 1 FROM riwayatPenyakit
        WHERE idPadi      = @idPadi
          AND idPenyakit  = @idPenyakit
          AND tanggalSelesai IS NULL
    )
    BEGIN
        SET @hasilMsg = 'Padi ini masih memiliki riwayat penyakit aktif yang belum selesai!';
        RETURN;
    END

    -- Logika 4: Validasi urutan tanggal
    IF @tanggalSelesai IS NOT NULL AND @tanggalSelesai < @tanggalTerdeteksi
    BEGIN
        SET @hasilMsg = 'Tanggal selesai tidak boleh sebelum tanggal terdeteksi!';
        RETURN;
    END

    INSERT INTO riwayatPenyakit 
        (idPadi, idPenyakit, tanggalTerdeteksi, tanggalSelesai, keterangan)
    VALUES 
        (@idPadi, @idPenyakit, @tanggalTerdeteksi, @tanggalSelesai, @keterangan);

    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchPadi]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP SEARCH PADI
-- =====================
CREATE PROCEDURE [dbo].[sp_SearchPadi]
    @keyword VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @keyword = LTRIM(RTRIM(@keyword));

    SELECT 
        p.idPadi,
        p.idPetani,
        pt.namaPetani,
        p.jenisBibit,
        p.lokasiLahan,
        CONVERT(VARCHAR, p.tanggalTanam, 103) AS tanggalTanam
    FROM Padi p
    JOIN petani pt ON p.idPetani = pt.idPetani
    WHERE 
        CAST(p.idPadi AS VARCHAR)            LIKE '%' + @keyword + '%'
        OR pt.namaPetani                     LIKE '%' + @keyword + '%'
        OR p.jenisBibit                      LIKE '%' + @keyword + '%'
        OR p.lokasiLahan                     LIKE '%' + @keyword + '%'
        OR CONVERT(VARCHAR, p.tanggalTanam, 103) LIKE '%' + @keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchPenyakit]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP SEARCH PENYAKIT
-- =====================
CREATE PROCEDURE [dbo].[sp_SearchPenyakit]
    @keyword VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @keyword = LTRIM(RTRIM(@keyword));

    SELECT 
        idPenyakit,
        Kategori,
        gejalaPenyakit,
        tingkatKerusakan,
        CONVERT(VARCHAR, tanggalSerangan, 103) AS tanggalSerangan
    FROM Penyakit
    WHERE 
        CAST(idPenyakit AS VARCHAR)                    LIKE '%' + @keyword + '%'
        OR Kategori                                    LIKE '%' + @keyword + '%'
        OR gejalaPenyakit                              LIKE '%' + @keyword + '%'
        OR tingkatKerusakan                            LIKE '%' + @keyword + '%'
        OR CONVERT(VARCHAR, tanggalSerangan, 103)      LIKE '%' + @keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchPerawatan]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- SP SEARCH PERAWATAN (UPDATED)
-- =====================
CREATE PROCEDURE [dbo].[sp_SearchPerawatan]
    @keyword VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @keyword = LTRIM(RTRIM(@keyword));

    SELECT 
        pp.idPerawatan,
        rp.idRiwayat,
        rp.idPadi,
        rp.idPenyakit,
        pt.namaPetani,
        p.jenisBibit,
        p.lokasiLahan,
        pn.Kategori         AS kategoriPenyakit,
        pp.jenisPerawatan,
        pp.jenisPestisida,
        CONVERT(VARCHAR, pp.tanggalPerawatan, 103) AS tanggalPerawatan,
        pp.hasilPerawatan
    FROM perawatanPadi pp
    JOIN RiwayatPenyakit rp ON pp.idRiwayat = rp.idRiwayat
    JOIN Padi p            ON rp.idPadi     = p.idPadi
    JOIN petani pt         ON p.idPetani    = pt.idPetani
    JOIN Penyakit pn       ON rp.idPenyakit = pn.idPenyakit
    WHERE 
        CAST(pp.idPerawatan AS VARCHAR)              LIKE '%' + @keyword + '%'
        OR pt.namaPetani                             LIKE '%' + @keyword + '%'
        OR p.jenisBibit                              LIKE '%' + @keyword + '%'
        OR pn.Kategori                               LIKE '%' + @keyword + '%'
        OR pp.jenisPerawatan                         LIKE '%' + @keyword + '%'
        OR pp.jenisPestisida                         LIKE '%' + @keyword + '%'
        OR pp.hasilPerawatan                         LIKE '%' + @keyword + '%'
        OR CONVERT(VARCHAR, pp.tanggalPerawatan,103) LIKE '%' + @keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchPetani]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchPetani]
    @keyword VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika tambahan: trim & ubah ke lowercase untuk pencarian fleksibel
    SET @keyword = LTRIM(RTRIM(@keyword));

    SELECT 
        idPetani,
        namaPetani,
        NIK,
        alamat,
        noTelepon,
        CASE WHEN statusAktif = 1 THEN 'Aktif' ELSE 'Tidak Aktif' END AS statusAktif
    FROM petani
    WHERE 
        CAST(idPetani AS VARCHAR) LIKE '%' + @keyword + '%'
        OR namaPetani     LIKE '%' + @keyword + '%'
        OR NIK            LIKE '%' + @keyword + '%'
        OR alamat         LIKE '%' + @keyword + '%'
        OR noTelepon      LIKE '%' + @keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchRiwayat]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP SEARCH RIWAYAT
-- =====================
CREATE PROCEDURE [dbo].[sp_SearchRiwayat]
    @keyword VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @keyword = LTRIM(RTRIM(@keyword));

    SELECT 
        r.idRiwayat,
        r.idPadi,
        r.idPenyakit,
        pt.namaPetani,
        p.jenisBibit,
        p.lokasiLahan,
        pn.Kategori         AS kategoriPenyakit,
        pn.tingkatKerusakan,
        CONVERT(VARCHAR, r.tanggalTerdeteksi, 103) AS tanggalTerdeteksi,
        CASE 
            WHEN r.tanggalSelesai IS NULL THEN 'Belum Selesai'
            ELSE CONVERT(VARCHAR, r.tanggalSelesai, 103)
        END AS tanggalSelesai,
        r.keterangan
    FROM riwayatPenyakit r
    JOIN Padi p         ON r.idPadi     = p.idPadi
    JOIN petani pt      ON p.idPetani   = pt.idPetani
    JOIN Penyakit pn    ON r.idPenyakit = pn.idPenyakit
    WHERE
        pt.namaPetani                              LIKE '%' + @keyword + '%'
        OR p.jenisBibit                            LIKE '%' + @keyword + '%'
        OR p.lokasiLahan                           LIKE '%' + @keyword + '%'
        OR pn.Kategori                             LIKE '%' + @keyword + '%'
        OR pn.tingkatKerusakan                     LIKE '%' + @keyword + '%'
        OR r.keterangan                            LIKE '%' + @keyword + '%'
        OR CONVERT(VARCHAR, r.tanggalTerdeteksi, 103) LIKE '%' + @keyword + '%'
        OR CAST(r.idRiwayat AS VARCHAR)            LIKE '%' + @keyword + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePadi]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP UPDATE PADI
-- =====================
CREATE PROCEDURE [dbo].[sp_UpdatePadi]
    @idPadi       INT,
    @idPetani     INT,
    @jenisBibit   VARCHAR(100),
    @lokasiLahan  VARCHAR(100),
    @tanggalTanam DATE,
    @pesanHasil     VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek data padi ada
    IF NOT EXISTS (SELECT 1 FROM Padi WHERE idPadi = @idPadi)
    BEGIN
        SET @pesanHasil = 'Data padi tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek petani aktif
    IF NOT EXISTS (SELECT 1 FROM petani WHERE idPetani = @idPetani AND statusAktif = 1)
    BEGIN
        SET @pesanHasil = 'Petani tidak ditemukan atau tidak aktif!';
        RETURN;
    END

    -- Logika 3: Cek duplikasi lahan (kecuali dirinya sendiri)
    IF EXISTS (
        SELECT 1 FROM Padi 
        WHERE idPetani = @idPetani 
          AND lokasiLahan = @lokasiLahan 
          AND tanggalTanam = @tanggalTanam
          AND idPadi != @idPadi
    )
    BEGIN
        SET @pesanHasil = 'Petani sudah menanam di lahan ini pada tanggal yang sama!';
        RETURN;
    END

    UPDATE Padi
    SET idPetani     = @idPetani,
        jenisBibit   = @jenisBibit,
        lokasiLahan  = @lokasiLahan,
        tanggalTanam = @tanggalTanam
    WHERE idPadi = @idPadi;

    SET @pesanHasil = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePenyakit]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP UPDATE PENYAKIT
-- =====================
CREATE PROCEDURE [dbo].[sp_UpdatePenyakit]
    @idPenyakit       INT,
    @kategori         VARCHAR(50),
    @gejalaPenyakit   VARCHAR(MAX),
    @tingkatKerusakan VARCHAR(50),
    @tanggalSerangan  DATE,
    @hasilMsg         VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek data ada
    IF NOT EXISTS (SELECT 1 FROM Penyakit WHERE idPenyakit = @idPenyakit)
    BEGIN
        SET @hasilMsg = 'Data penyakit tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek duplikasi (kecuali dirinya sendiri)
    IF EXISTS (
        SELECT 1 FROM Penyakit
        WHERE Kategori        = @kategori
          AND gejalaPenyakit  = @gejalaPenyakit
          AND tanggalSerangan = @tanggalSerangan
          AND idPenyakit     != @idPenyakit
    )
    BEGIN
        SET @hasilMsg = 'Data penyakit serupa sudah ada di tanggal yang sama!';
        RETURN;
    END

    -- Logika 3: Cek apakah tingkat kerusakan naik drastis (Ringan → Berat langsung)
    -- Sebagai warning/log, tetap lanjut update tapi catat di log
    DECLARE @tingkatLama VARCHAR(50);
    SELECT @tingkatLama = tingkatKerusakan FROM Penyakit WHERE idPenyakit = @idPenyakit;

    IF @tingkatLama = 'Ringan' AND @tingkatKerusakan = 'Berat'
    BEGIN
        -- Tidak block, tapi beri pesan khusus
        UPDATE Penyakit
        SET Kategori         = @kategori,
            gejalaPenyakit   = @gejalaPenyakit,
            tingkatKerusakan = @tingkatKerusakan,
            tanggalSerangan  = @tanggalSerangan
        WHERE idPenyakit = @idPenyakit;

        SET @hasilMsg = 'PERINGATAN: Tingkat kerusakan naik drastis dari Ringan ke Berat!';
        RETURN;
    END

    UPDATE Penyakit
    SET Kategori         = @kategori,
        gejalaPenyakit   = @gejalaPenyakit,
        tingkatKerusakan = @tingkatKerusakan,
        tanggalSerangan  = @tanggalSerangan
    WHERE idPenyakit = @idPenyakit;

    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePerawatan]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================
-- SP UPDATE PERAWATAN (UPDATED)
-- =====================
CREATE PROCEDURE [dbo].[sp_UpdatePerawatan]
    @idPerawatan      INT,
    @idRiwayat        INT, -- Menggantikan idPadi & idPenyakit
    @jenisPerawatan   VARCHAR(100),
    @jenisPestisida   VARCHAR(100),
    @tanggalPerawatan DATE,
    @hasilPerawatan   VARCHAR(100),
    @hasilMsg         VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek data perawatan ada
    IF NOT EXISTS (SELECT 1 FROM perawatanPadi WHERE idPerawatan = @idPerawatan)
    BEGIN
        SET @hasilMsg = 'Data perawatan tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek duplikasi perawatan serupa pada tanggal yang sama (kecuali dirinya sendiri)
    IF EXISTS (
        SELECT 1 FROM perawatanPadi
        WHERE idRiwayat        = @idRiwayat
          AND tanggalPerawatan = @tanggalPerawatan
          AND idPerawatan     != @idPerawatan
    )
    BEGIN
        SET @hasilMsg = 'Perawatan serupa untuk kasus ini pada tanggal tersebut sudah ada!';
        RETURN;
    END

    -- Logika 3: Validasi konsistensi pestisida vs kategori penyakit
    DECLARE @kategori VARCHAR(50);
    SELECT @kategori = pn.Kategori 
    FROM RiwayatPenyakit rp
    JOIN Penyakit pn ON rp.idPenyakit = pn.idPenyakit
    WHERE rp.idRiwayat = @idRiwayat;

    IF @kategori = 'Hama' AND @jenisPestisida = 'Fungisida Dithane'
    BEGIN
        SET @hasilMsg = 'Fungisida Dithane tidak cocok untuk kategori Hama!';
        RETURN;
    END

    IF @kategori = 'Penyakit' AND @jenisPestisida = 'Insektisida Furadan'
    BEGIN
        SET @hasilMsg = 'Insektisida Furadan tidak cocok untuk kategori Penyakit!';
        RETURN;
    END

    -- Logika 4: Proteksi status 'Berhasil'
    DECLARE @hasilLama VARCHAR(100);
    SELECT @hasilLama = hasilPerawatan FROM perawatanPadi WHERE idPerawatan = @idPerawatan;

    IF @hasilLama = 'Berhasil' AND @hasilPerawatan = 'Gagal'
    BEGIN
        SET @hasilMsg = 'Perawatan yang sudah Berhasil tidak bisa diubah menjadi Gagal!';
        RETURN;
    END

    UPDATE perawatanPadi
    SET idRiwayat        = @idRiwayat,
        jenisPerawatan   = @jenisPerawatan,
        jenisPestisida   = @jenisPestisida,
        tanggalPerawatan = @tanggalPerawatan,
        hasilPerawatan   = @hasilPerawatan
    WHERE idPerawatan = @idPerawatan;

    SET @hasilMsg = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePetani]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePetani]
    @idPetani    INT,
    @namaPetani  VARCHAR(100),
    @NIK         CHAR(16),
    @alamat      VARCHAR(255),
    @noTelepon   VARCHAR(15),
    @statusAktif BIT,
    @pesanHasil    VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek apakah petani ada
    IF NOT EXISTS (SELECT 1 FROM petani WHERE idPetani = @idPetani)
    BEGIN
        SET @pesanHasil = 'Data petani tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek NIK duplikat (kecuali milik sendiri)
    IF EXISTS (SELECT 1 FROM petani WHERE NIK = @NIK AND idPetani != @idPetani)
    BEGIN
        SET @pesanHasil = 'NIK sudah digunakan petani lain!';
        RETURN;
    END

    -- Logika 3: Cek NoTelepon duplikat (kecuali milik sendiri)
    IF EXISTS (SELECT 1 FROM petani WHERE noTelepon = @noTelepon AND idPetani != @idPetani)
    BEGIN
        SET @pesanHasil = 'Nomor telepon sudah digunakan petani lain!';
        RETURN;
    END

    UPDATE petani
    SET namaPetani  = @namaPetani,
        NIK         = @NIK,
        alamat      = @alamat,
        noTelepon   = @noTelepon,
        statusAktif = @statusAktif
    WHERE idPetani = @idPetani;

    SET @pesanHasil = 'OK';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRiwayat]    Script Date: 23/06/2026 18.08.25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================
-- SP UPDATE RIWAYAT
-- =====================
CREATE PROCEDURE [dbo].[sp_UpdateRiwayat]
    @idRiwayat          INT,
    @idPadi             INT,
    @idPenyakit         INT,
    @tanggalTerdeteksi  DATE,
    @tanggalSelesai     DATE = NULL,
    @keterangan         VARCHAR(255),
    @hasilMsg           VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Logika 1: Cek data riwayat ada
    IF NOT EXISTS (SELECT 1 FROM riwayatPenyakit WHERE idRiwayat = @idRiwayat)
    BEGIN
        SET @hasilMsg = 'Data riwayat tidak ditemukan!';
        RETURN;
    END

    -- Logika 2: Cek urutan tanggal
    IF @tanggalSelesai IS NOT NULL AND @tanggalSelesai < @tanggalTerdeteksi
    BEGIN
        SET @hasilMsg = 'Tanggal selesai tidak boleh sebelum tanggal terdeteksi!';
        RETURN;
    END

    -- Logika 3: Jika riwayat sudah selesai (tanggalSelesai terisi),
    --           tidak boleh diubah kembali jadi aktif (NULL)
    DECLARE @tglSelesaiLama DATE;
    SELECT @tglSelesaiLama = tanggalSelesai 
    FROM riwayatPenyakit WHERE idRiwayat = @idRiwayat;

    IF @tglSelesaiLama IS NOT NULL AND @tanggalSelesai IS NULL
    BEGIN
        SET @hasilMsg = 'Riwayat yang sudah selesai tidak bisa dikembalikan ke status aktif!';
        RETURN;
    END

    -- Logika 4: Cek duplikasi riwayat aktif (kecuali dirinya sendiri)
    IF EXISTS (
        SELECT 1 FROM riwayatPenyakit
        WHERE idPadi        = @idPadi
          AND idPenyakit    = @idPenyakit
          AND tanggalSelesai IS NULL
          AND idRiwayat    != @idRiwayat
    )
    BEGIN
        SET @hasilMsg = 'Sudah ada riwayat aktif lain untuk padi dan penyakit yang sama!';
        RETURN;
    END

    UPDATE riwayatPenyakit
    SET idPadi             = @idPadi,
        idPenyakit         = @idPenyakit,
        tanggalTerdeteksi  = @tanggalTerdeteksi,
        tanggalSelesai     = @tanggalSelesai,
        keterangan         = @keterangan
    WHERE idRiwayat = @idRiwayat;

    SET @hasilMsg = 'OK';
END;
GO
